.box {
	display: flex;
	justify-content: space-between;
	align-items: center;

    @media(min-width:1200px){
        justify-content: space-evenly;
    }
}

.slider-box {
	display: none;

	@media (min-width: 992px) {
		display: block;
		width: 75%;
	}

	@media (min-width: 1200px) {
		width: 60%;
	}

	@media (min-width: 1400px) {
		width: 50%;
	}
}