.circle-box {
	position: relative;
	width: 150px;
	height: 150px;

	&__circle {
		fill: none;
		stroke: none;
	}

	&__path-elapsed {
		stroke-width: 4px;
		stroke: var(--light-gray);
	}

	&__path-remaining {
		stroke-width: 4px;
		stroke: var(--light-green);
		stroke-linecap: round;
		transform: rotate(90deg);
		transform-origin: center;
		transition: 1s linear all;
	}

    &__svg{
        transform: scaleX(-1);
    }

	&__text-box {
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 150px;
		height: 150px;

        &--progress-text{
            font-size: var(--normal-size);
        }

        &--unit-text{
            font-size: var(--small-size);
        }
	}
}
