.wrapper {
	display: flex;
	align-items: center;
}

.option-wrapper {
	margin-right: 1rem;

	&:nth-of-type(1) {
		label {
			border-color: var(--light-blue);

			&:hover {
				background-color: var(--light-blue);
			}

		}

		input[type="radio"] {
			&:checked + label {
				background-color: var(--light-blue);
			}
		}
	}

	&:nth-of-type(2) {
		label {
			border-color: var(--light-purple);

			&:hover {
				background-color: var(--light-purple);
			}
		}

		input[type="radio"] {
			&:checked + label {
				background-color: var(--light-purple);
			}
		}
	}

	&:nth-of-type(3) {
		label {
			border-color: var(--light-green);

			&:hover {
				background-color: var(--light-green);
			}
		}

		input[type="radio"] {
			&:checked + label {
				background-color: var(--light-green);
			}
		}
	}

	input[type="radio"] {
		opacity: 0;
		position: fixed;
		width: 0;
	}

	label {
		display: inline-block;
		background: transparent;
		padding: 1rem 2rem;
		color: var(--white);
		font-size: var(--normal-size);
		border: 1px solid var(--main-color);
		border-radius: 6px;
		cursor: pointer;
	}
}
