.select{
    background: none;
    color: var(--white);
    font-size: var(--medium-size);
    padding: 1rem;
    border: 2px solid var(--sec-background-color);
    border-radius: 6px;
    cursor: pointer;

    option{
        background-color: var(--main-background-color);
    }
}