.arrow-btn{
    position: absolute;
    left: 110px;
    top: 12vh;
    padding: 1rem;
    background: none;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    z-index: 1000;
}

.icon{
    color: var(--white);
    font-size: 1.75rem;
    transition: transform .4s;
}