.arrow-btn {
	position: absolute;
	left: 110px;
	top: 12vh;
	padding: 1rem;
	background: none;
	border: 2px solid var(--light-gray);
	border-radius: 8px;
	z-index: 1000;
	transition: border-color 0.3s;

	&--white {
		border-color: var(--white);
	}

	&--black {
		border-color: var(--main-background-color);
	}
}

.icon {
	font-size: 1.75rem;
	transition: transform 0.4s, color 0.3s;

	&--white {
		color: var(--white);
	}

	&--black {
		color: var(--main-background-color);
	}
}
