.wrapper{
	position: relative;
	width: fit-content;
}

.nav {
	height: 90vh;
	padding: 2rem;
	border-right: 3px solid var(--sec-background-color);
	transition: all .3s;
}

.menu-text {
	margin-bottom: 2rem;
	font-size: var(--normal-size);
	font-family: "roboto", "sans-serif";

	@media(min-width:576px){
		font-size: 2rem;
		margin-bottom: 4rem;
	}
}

.links-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	li {
		margin-bottom: 2rem;
		font-size: var(--normal-size);

		.icon {
			margin-right: 1rem;
			width: 18px;
			height: auto;

			@media(min-width:576px){
				margin-right: 2rem;
				width: 22px;
			}
		}

		@media(min-width:576px){
			font-size: 2rem;
		}
	}
}

.list-closed {
	li {
		font-size: 0;
		.icon {
			margin: 0;
		}
	}

	.link{
		padding: .5rem;
	}
}

.link {
	display: flex;
	align-items: center;
	transition: color .3s;

	&:hover{
		color: var(--light-blue);
	}
}

.active-link {
	color: var(--light-blue);

	& {
		.icon {
			color: var(--light-blue);
		}
	}
}

.show-btn{
	position: absolute;
	bottom: 5%;
	left: 50%;
	width: 90%;
	font-family: 'roboto', sans-serif;
}
