.nav {
	height: 100%;
	padding: 2rem;
	border-right: 3px solid var(--sec-background-color);
	transition: all .3s;
}

.menu-text {
	margin-bottom: 4rem;
	font-size: 2rem;
	font-family: "roboto", "sans-serif";
}

.links-list {
	li {
		margin-bottom: 2rem;
		font-size: 2rem;

		.icon {
			margin-right: 2rem;
			width: 22px;
			height: auto;
		}
	}
}

.list-closed {
	li {
		font-size: 0;
		.icon {
			margin: 0;
		}
	}

	.link{
		padding: .5rem;
	}
}

.link {
	display: flex;
	align-items: center;
}

.active-link {
	color: var(--light-blue);

	& {
		.icon {
			color: var(--light-blue);
		}
	}
}
