.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.card {
	display: flex;
	flex-direction: column;
	margin: 2rem 0;
	width: 100%;

	&:nth-child(1) {
		margin: 0;
	}

	&:nth-last-child(1) {
		margin-top: 2rem;
	}

	@media (min-width: 576px) {
		width: auto;
	}

	@media (min-width: 768px) {
		margin: 0 2rem;

		&:nth-child(1) {
			margin-right: 2rem;
		}

		&:nth-last-child(1) {
			margin-left: 2rem;
			margin-top: 0;
		}
	}
}

.growth {
	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: flex-start;
	}

	&__header-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
		font-family: "roboto", sans-serif;
		font-size: var(--small-size);
		margin-right: 2rem;
		padding: 1rem;
		border-radius: 6px;

		&--purple {
			background-color: var(--light-purple);
		}

		&--green {
			background-color: var(--light-green);
		}

		@media (min-width: 768px) {
			font-size: var(--medium-size);
		}

		@media (min-width: 992px) {
			font-size: var(--normal-size);
		}
	}

	&__number-count {
		font-family: "roboto", sans-serif;
		font-weight: bold;
		font-size: var(--big-size);

		@media (min-width: 768px) {
			font-size: var(--large-size);
		}
	}

	&__description {
		margin-top: 2rem;
		font-size: var(--small-size);

		&--percentage {
			color: var(--light-green);
			margin-right: 0.5rem;
		}

		@media (min-width: 768px) {
			font-size: var(--medium-size);
		}

		@media (min-width: 992px) {
			width: 60%;
			text-align: right;
			align-self: end;
			font-size: var(--normal-size);
		}
	}
}

.stats {
	margin-top: 2rem;

	@media (min-width: 576px) {
		width: 45%;
	}

	@media (min-width: 768px) {
		margin-top: 4rem;
	}

	@media (min-width: 1200px) {
		width: 40%;
	}
	h2 {
		font-size: 2.5rem;
	}

	&__box {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 1rem 0;

		&:nth-of-type(1) {
			margin-top: 2rem;
		}

		&:nth-last-child(1) {
			margin-bottom: 0;
		}

		&--text {
			display: flex;
			align-items: center;
			font-size: var(--small-size);

			@media (min-width: 576px) {
				font-size: var(--normal-size);
			}
		}

		&--number {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 30%;
			font-size: var(--normal-size);
			font-weight: bold;

			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;

			&--blue {
				background-color: var(--light-blue);
			}

			&--green {
				background-color: var(--light-green);
			}

            &--purple {
				background-color: var(--light-purple);
			}

			@media (min-width: 576px) {
				font-size: 2rem;
			}
		}
	}

	&__icon {
		margin-right: 1rem;
		font-size: 1.6rem;

		@media (min-width: 576px) {
			font-size: 2rem;
		}
	}
}
