.main-wrapper {
	display: flex;
	flex-direction: column;
}

.sec-wrapper {
	display: flex;
}

.main {
	position: relative;
    width: 100%;
	overflow-x: hidden;
	@media (max-width: 992px) {
		overflow-y: scroll;
	}
}