.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.section-bottom-wrapper {
	display: flex;
	flex-direction: column;

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.subheading {
	font-size: 2.5rem;
}

.growth {
	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: flex-start;
	}
}

.stats {
	margin-top: 4rem;

	@media (min-width: 768px) {
		width: 45%;
		margin-top: 4rem;
	}

	@media (min-width: 1200px) {
		width: 40%;
	}
}

.members {
	margin-top: 4rem;

	@media (min-width: 768px) {
		width: 45%;
	}

	@media (min-width: 1200px) {
		width: 40%;
	}

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		margin: 1rem 0;

		&:nth-of-type(1) {
			margin-top: 2rem;
		}

		&:nth-last-child(1) {
			margin-bottom: 0;
		}

		@media (min-width: 768px) {
			max-height: 45vh;
			overflow-y: scroll;
		}
	}
}
