* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--main-background-color);
	color: var(--white);
	font-family: "Nunito", sans-serif;
	overflow: hidden;
}

::selection {
	color: white;
	background-color: var(--main-color);
}

:root {
	--main-color: #176ec1;
	--main-background-color: #171719;
	--sec-background-color: #29292e;
	--light-blue: rgb(33, 146, 255);
	--light-purple: rgb(166, 84, 237);
	--light-green: rgb(19, 181, 122);
	--error-red: #dc0000;
	--light-gray: #bdcdd6;
	--white: #e3e9ee;
	--large-size: 3.4rem;
	--big-size: 2.8rem;
	--normal-size: 1.7rem;
	--medium-size: 1.4rem;
	--small-size: 1.2rem;
}

a {
	color: var(--white);
	text-decoration: none;
}

ul {
	list-style: none;
}