.button {
	padding: 1rem 2rem;
	font-size: 1.4rem;
	background-color: transparent;
    color: var(--white);
	border-radius: 6px;
	border: 1px solid var(--main-color);
	transition: background-color 0.3s;
	cursor: pointer;

	&:hover {
		background-color: var(--main-color);
	}

	@media (min-width: 576px) {
		font-size: var(--normal-size);
	}
}
