.box {
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
	border: 1px solid var(--main-background-color);
	border-radius: 6px;

	&__main-border {
		border-color: var(--main-background-color);
	}

	&__sec-border {
		border-color: var(--sec-background-color);
	}

	&:nth-last-of-type(1) {
		margin: 0;
	}

	&__title {
		font-size: var(--medium-size);
		font-weight: bold;
		margin-bottom: 0.5rem;

		@media (min-width: 768px) {
			font-size: var(--normal-size);
		}
	}

	&__data {
		font-size: var(--small-size);
		color: var(--light-gray);

		@media (min-width: 768px) {
			font-size: var(--medium-size);
		}
	}
}
