.input-box {
	display: flex;
	flex-direction: column;

	&:nth-of-type(1) {
		margin-bottom: 0.5rem;
	}

	&:nth-of-type(2) {
		margin-bottom: 2rem;
	}

	label {
		margin-bottom: 0.25rem;
		color: var(--light-gray);

		@media (min-width: 992px) {
			font-size: var(--small-size);
		}
	}

	textarea {
		font-family: "nunito", sans-serif;
		resize: vertical;
		min-height: 50px;
		max-height: 200px;

		@media (min-width: 992px) {
			resize: both;
			width: 100%;
			max-width: 100%;
		}
	}
}

.date {
	width: 100%;
	background-color: white;
	border-radius: 6px;
	outline: none;
	border: 2px solid var(--main-color);

	label {
		font-size: 1.2rem;
		color: var(--main-color);
	}

	svg {
		font-size: 2rem;
		color: var(--main-color);
	}
}

.MuiFormControl-root{
	border: 2px solid var(--main-color);
	
	&:focus {
		border-width: 3px
	}
}

.btn {
	margin-top: 1.5rem;
}

.error-msg {
	margin: 0.5rem 0 0.5rem 0.5rem;
	font-size: var(--small-size);
	color: var(--main-color);
}
