.input-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;

	label {
		font-size: var(--small-size);
		margin-bottom: 0.25rem;

		@media (min-width: 768px) {
			font-size: var(--medium-size);
		}
	}

	input,
	textarea {
		padding: 1rem;
		border-radius: 6px;
		border: 2px solid var(--main-color);
		outline: none;

		&:focus {
			border-width: 3px;
			padding: 0.9rem;
		}
	}

	input {
		width: 100%;
	}

	&--error {
		input {
			border-color: var(--error-red);
		}
	}

	&--wrap {
		width: 45%;
	}
}

.icon-box {
	position: relative;
	svg{
		position: absolute;
		top: 50%;
		right: 10px;
		font-size: 1.5rem;
		transform: translateY(-50%);
		cursor: pointer;
		color: var(--main-color);
	}
}
